@using System.Data

@{
    ViewData["Title"] = "School";
}

<style type="text/css">
    .table-responsive {
        max-height: 207px;
        overflow: auto;
    }
</style>

<h1>School</h1>


@if (ViewBag.Data != null)
{
    DataSet ds = ViewBag.Data;

    if (ds != null && ds.Tables.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped compact table-hover nowrap mb-0" width="100%">
                <thead>
                    <tr class="table-primary">
                        @foreach (DataColumn col in ds.Tables[0].Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in ds.Tables[0].Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in ds.Tables[0].Columns)
                            {
                                <td>@row[col.ColumnName]</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}